<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juntai.disabled.federation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.juntai.wisdom.inspection.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.rectifynotice.RectifyNoticeListActivity"></activity>
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.rectifynotice.RectifyNoticeDetailActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.check.AddPunishActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.rectifynotice.CreatRectifyNoticeActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.check.FireCheckRecordDetailActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.check.FireCheckRecordListActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.check.StartCheckActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.EditUnitInfoActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.UnitInfoMoreActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.importantor.VisitRecordListActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.importantor.ImportantorInfoMoreActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.baseinspect.HeadCropActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.importantor.ManualAddImportantorActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.importantor.SearchAddImportantorActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.unit.ManualAddUnitActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.inspectionsite.ManualAddInspectionSiteActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.inspectionsite.SearchAddInspectionSiteActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.unit.SearchAddUnitActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.unit.AddUnitActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.importantor.AddImportantorActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.add.inspectionsite.AddInspectSiteActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.importantor.StartVisitActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.check.FireCheckActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.importantor.ImportantorsActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.securityInspect.SecurityInspectRecordDetailActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.importantor.ImportantorVistRecordDetailActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.securityInspect.SecurityInspectRecordListActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.securityInspect.StartSecurityInspectActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.securityInspect.EditSecurityInspectSiteActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.securityInspect.SecurityInspectionSiteMoreInfoActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.securityInspect.SecurityInspectionSiteInfoActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.importantor.ImportantorInfoActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.firecheck.UnitInfoActivity" />
        <activity android:name="com.juntai.wisdom.inspection.home_page.securityInspect.SecurityInspectionSitesActivity" />
        <activity
            android:name="com.juntai.wisdom.inspection.home_page.QRScanActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.inspection.mine.setting.MySettingActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="com.juntai.wisdom.inspection.utils.MyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:name,android:authorities,android:exported,android:grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:name,android:resource" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 百度地图 -->
        <!-- Ma - debug-Release-key : A2hxzsrCO3VOXGXBzVjP3zKKYBsNhi1A -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Bc1bGYdgo5oDSOQlffwt9cu7yH47KHS8" /> <!-- 百度地图 -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="ik1qhw09iy5yp" /> <!-- 融云配置   end ||| -->
        <!--  -->
        <service android:name="com.juntai.disabled.bdmap.service.LocateAndUpload" /> <!--  -->
        <activity
            android:name="com.juntai.wisdom.inspection.entrance.StartActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.juntai.wisdom.inspection.entrance.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.juntai.wisdom.inspection.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

            <!-- URL启动启动配置,用于跳转支付宝生活缴费界面 -->
            <intent-filter>
                <data android:scheme="alipay" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity> <!-- 关于 -->
        <activity
            android:name="com.juntai.wisdom.inspection.mine.AboutActivity"
            android:launchMode="singleTop" /> <!-- 个人信息 -->
        <!-- 图片裁切 -->
        <activity
            android:name="com.juntai.wisdom.inspection.mine.myinfo.ImageCropActivity"
            android:launchMode="singleTop" /> <!-- 案件追踪 -->
        <activity
            android:name="com.juntai.wisdom.inspection.mine.UserAgreementActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>